@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-pttikb');
	src:url('../fonts/icomoon.eot?#iefix-pttikb') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?-pttikb') format('truetype'),
		url('../fonts/icomoon.woff?-pttikb') format('woff'),
		url('../fonts/icomoon.svg?-pttikb#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-keyboard_arrow_down:before {
	content: "\e610";
}
.icon-icon17:before {
	content: "\e60f";
}
.icon-icon16:before {
	content: "\e600";
}
.icon-icon01:before {
	content: "\e601";
}
.icon-icon02:before {
	content: "\e602";
}
.icon-icon03:before {
	content: "\e603";
}
.icon-icon04:before {
	content: "\e604";
}
.icon-icon05:before {
	content: "\e605";
}
.icon-icon06:before {
	content: "\e606";
}
.icon-icon07:before {
	content: "\e607";
}
.icon-icon08:before {
	content: "\e608";
}
.icon-icon09:before {
	content: "\e609";
}
.icon-icon10:before {
	content: "\e60a";
}
.icon-icon12:before {
	content: "\e60b";
}
.icon-icon13:before {
	content: "\e60c";
}
.icon-icon14:before {
	content: "\e60d";
}
.icon-icon15:before {
	content: "\e60e";
}
